html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
}

.topNavbar {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 4;
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

.coverImage {
  position: relative;
  top: -70px;
  left: 0;
  width: 100%;
}

.binoculars {
  width: 30%;
  position: absolute;
  z-index: 4;
  left: 55%;
}

.empirestatebuilding {
  width: 17%;
  position: absolute;
  z-index: 3;
  left: 30%;
}

.skyline {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.Container {
  margin: 0;
}

.lightContainer {
  width: 100%;
  position: relative;
  top: -150px;
  z-index: 5;
  background-color: #EDEDED;
  height: 540px;
  color: #202020;
  margin: 0;
}

.darkContainer {
  width: 100%;
  position: relative;
  top: -150px;
  z-index: 5;
  background-color: #202020;
  height: 540px;
  color: #EDEDED;
}

.fullWidthContainer {
  width: 100%;
  position: absolute;
  left: -10px;
}

.sky {
  overflow: hidden;
}

.thumbnails {
  padding: 40px;
  height: 540px;
}

.mainHeading {
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.contentText {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

.textInImage {
  padding: 100px;
}

.divImage {
  height: 540px;
  position: relative;
}

.footer-2 {
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
  color: white;
  position: relative;
  top: -170px;
  height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

.footer {
  background-color: #DF7061;
  position: relative;
  top: -100px;
  height: 200px;
  margin-bottom: -100px;
  margin-top: -70px;
  padding-top: 25px;
  color: #D5D5D5;
}
